.advantages-sublist {
  .clear-list();
  padding: 23px 18px 21px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.advantages-sublist__item {
  margin-bottom: 25px;
  padding-left: 47px;
  text-align: left;

  @media (min-width: @tablet-width) {
    width: 256px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advantages-sublist__title {
  margin: 8px 0 16px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-sublist__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
