.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list__item--primary {
  background-color: #81b3d2;
}

.advantages-list__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-list__title--primary {
  margin-bottom: 11px;
  color: #ffffff;
}

.advantages-list__title--secondary {
  margin-bottom: 14px;
}

.advantages-list__image {
  display: block;
}

.advantages-list-text-wrapper--primary {
  padding: 33px 18px 40px;
}

.advantages-list-text-wrapper--primary-additive {
  padding: 37px 18px;
}

.advantages-list__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages-list__subtitle--primary {
  color: #ffffff;

  &:nth-child(even) {
    margin-bottom: 18px;
  }
}

.advantages-list__item--secondary {
  padding: 24px 18px 28px;
  background-color: #eeeeee;
}

.advantages-list__subtitle--secondary {
  color: #333333;

  &:nth-child(even) {
    margin-bottom: 18px;
  }
}

.advantages-list__item--secondary-padding {
  padding-bottom: 28px;
}
