.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item__figure {
  margin: 0;
}

.catalog-list__item {
  margin-top: 50px;
}

.catalog-item__image {
  margin-bottom: 15px;
}

.catalog-item__figcaption {
  padding-left: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.catalog-item__address {
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.catalog-item__link {
  display: block;
  margin-top: 15px;
}
