.catalog-item {
  &--darken {
    @media (min-width: @tablet-width) and (max-width: @desktop-width) {
      background-color: #eaeaea;
    }
  }

  &--wide {
    @media (min-width: @tablet-width) {
      grid-column: 1 / 3;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1 / 4;
    }
  }
}

.catalog-item__figure {
  margin: 0;
}

.catalog-item__image {
  display: block;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }
}

.catalog-item__figcaption {
  padding-left: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.catalog-item__address {
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.catalog-item__link {
  display: block;
  margin-top: 15px;
}
