.copyright {
  width: 129px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:hover span {
    color: #81b3d2;
  }

  &:hover svg {
    fill: #81b3d2;
  }
}

&:active span {
  color: #b3b3b3;
}

&:active svg {
  fill: #b3b3b3;
}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
