.form {
  padding: 24px 20px 5px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 295px 295px;
    column-gap: 58px;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 430px 430px;
    column-gap: 100px;
    padding: 0 120px;
  }
}

.form__button {
  display: block;
  width: 280px;
  padding: 16px 20px;
  margin: 56px auto 3px;

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
    margin-left: auto;
    margin-right: -50px;
  }
}

.form__note {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  border: none;

  &--long {
    @media (min-width: @tablet-width) {
      grid-column: 1 / 3;
    }
  }
}

.form__legend {
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.form__field {
  min-width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  border: none;
  resize: none;

  @media (min-width: @tablet-width) {
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
  }
}
