.form {
  padding: 24px 20px 5px;
}

.form__button {
  display: block;
  min-width: 280px;
  padding: 16px 20px;
  margin: 56px auto 3px;
}

.form__note {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  border: none;
}

.form__legend {
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.form__field {
  min-width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  resize: none;
}
