.hotels-search__link {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 49px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 284px;
  height: 58px;
}
