.main-header__logo-image {
  display: block;
  margin: 0 auto;
}

.main-header__list {
  .clear-list();

  @media (min-width: @tablet-width) {
    padding: 18px 29px 17px 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 71px 17px 91px;
  }
}

.main-header__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
