.main-footer {
  padding: 33px;
}

.main-footer__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.main-footer__socials {
  margin-bottom: 30px;
}
