.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 35px 18px 31px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 31px 53px 36px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 32px 113px 35px 120px;
  }
}

.main-footer__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
