.main-header__logo-image {
  display: block;
  margin: 0 auto;
}

.site-list__link {
  display: block;
  padding: 17px 15px 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.main-header__list {
  .clear-list();
}
