.modal__success-wrapper {
  padding: 39px 39px 30px 37px;
}

.modal--fail {
  padding: 45px 42px 35px 41px;
}

.modal__button {
  margin: 0 auto;
  padding: 18px 20px 14px;
  font-size: 18px;
  line-height: 26px;
}

.modal__button--success {
  min-width: 280px;
}

.modal__button--fail {
  min-width: 180px;
}

.modal__wrapper-btn-success {
  padding: 20px;
  background-color: #f2f2f2;
}

.modal__title {
  margin: 0;
  margin-bottom: 28px;
}

.modal__subtitle {
  margin: 0;
  margin-bottom: 24px;
}

