.text-element {
  &--advantages {
    padding: 33px 24px 31px;

    @media (min-width: @tablet-width) {
      padding: 48px 124px 52px;
    }

    @media (min-width: @desktop-width) {
      padding: 60px 358px 40px;
    }
  }

  &--interest {
    padding: 39px 29px 32px;

    @media (min-width: @tablet-width) {
      padding-top: 60px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 62px;
    }
  }

  &--feedback {
    padding: 36px 20px 28px;

    @media (min-width: @tablet-width) {
      padding: 64px 166px 102px;
    }

    @media (min-width: @desktop-width) {
      padding: 115px 382px 63px;
    }
  }

  &--content {
    padding: 37px 20px;

    @media (min-width: @tablet-width) {
      padding: 66px 165px 76px;
    }

    @media (min-width: @desktop-width) {
      padding: 98px 378px 84px;
    }
  }

  &--video-block {
    padding: 17px 26px 38px 28px;

    @media (min-width: @tablet-width) {
      padding: 57px 162px 66px 161px;
    }

    @media (min-width: @desktop-width) {
      padding: 60px 377px 64px;
    }
  }
}

.text-element__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
    font-size: 21px;
  }

  &--interest {
    margin-bottom: 20px;
    font-size: 21px;

    @media (min-width: @tablet-width) {
      margin-bottom: 28px;
      font-size: 30px;
      line-height: 25px;
    }
  }

  &--catalog {
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      margin-bottom: 27px;
      font-size: 30px;
    }
  }

  &--video-block {
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      font-size: 30px;
    }
  }

  &--feedback {
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 16px;
      font-size: 30px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 26px;
    }
  }
}

.text-element__subtitle {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  @media (min-width: @tablet-width) {
    line-height: 26px;
  }

  &--br {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &--feedback {
    @media (min-width: @tablet-width) {
      margin-top: 10px;
    }
  }
}
