.video-block {
  @media (min-width: @tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 84px;
  }
}

.video-block__img {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
